@{
    ViewData["Title"] = "Home Page";
}

<div>
    <picture>
        <source type="image/webp" srcset="img/homepage/intro/banner_1920x911.webp">
        <source type="image/jpg" srcset="img/homepage/intro/banner_1920x911.jpg">
        <img class="intro-img" alt="intro image">
    </picture>
    <p class="whatWeDo">Het vast leggen van jouw visie</p>
</div>

<!--spacing-->
<div class="spacer-5"></div>


<div class="container">
    <div class="subTitle">
        <div class="main">
            CMS
        </div>
        <div class="description">
            CRUD's
        </div>
    </div>
    <br/>
    <div class="row text-center">
        <div class="col home">
            <a asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
        </div>
        <div class="col about">
            <a asp-area="" asp-controller="Photographer" asp-action="Index">Photographers</a>
        </div>
        <div class="col work">
            <a asp-area="" asp-controller="TypeReservation" asp-action="Index">TypeReservations</a>
        </div>
        <div class="col about">
            <a asp-area="" asp-controller="Reservation" asp-action="Index">Reservations</a>
        </div>
    </div>
</div>

<div class="spacer-5"></div>

<div class="container">
    <div class="subTitle">
        <div class="main">
            Example
        </div>
        <div class="description">
             Template 
        </div>
    </div>
    <br/>
    <div class="col about">
        <a asp-area="" asp-controller="Category" asp-action="Index">Categorys</a>
    </div>
</div>
<!--spacing-->
<div class="spacer-5"></div>


<div class="portfolio-container">
    <div class="m-0 p-0 ">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro">
                    <div class="title">
                        <div class="sub">
                            Capture
                        </div>
                        <div class="main">
                            Couple's
                        </div>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="/img/homepage/couples/webp/couple.webp">
                        <source type="image/png" srcset="/img/homepage/couples/png/couple.png">
                        <img class="portrait" alt="">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro-content">
                    <div class="row m-0 p-0">
                        <div class="subTitle">
                            <div class="main">
                                It's all about you
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/couples/webp/couple_1.webp">
                                <source type="image/png" srcset="/img/homepage/couples/png/couple_1.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/couples/webp/couple_2.webp">
                                <source type="image/png" srcset="/img/homepage/couples/png/couple_2.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/couples/webp/couple_3.webp">
                                <source type="image/png" srcset="/img/homepage/couples/png/couple_3.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/couples/webp/couple_4.webp">
                                <source type="image/png" srcset="/img/homepage/couples/png/couple_4.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="img/homepage/couples/webp/couple_5.webp">
                                <source type="image/png" srcset="img/homepage/couples/png/couple_5.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="img/homepage/couples/webp/couple_6.webp">
                                <source type="image/png" srcset="img/homepage/couples/png/couple_6.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--spacing-->
<div class="spacer-15"></div>

<div class="portfolio-container">
    <div class="m-0 p-0 ">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro">
                    <div class="title">
                        <div class="sub">
                            Capture
                        </div>
                        <div class="main">
                            Portrait's
                        </div>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait.webp">
                        <source type="image/png" srcset="/img/homepage/portraits/png/portrait.png">
                        <img class="portrait" alt="">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro-content">
                    <div class="row m-0 p-0">
                        <div class="subTitle">
                            <div class="main">
                                It's all about you
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_1.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_1.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_2.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_2.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_3.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_3.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_4.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_4.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_5.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_5.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/portraits/webp/portrait_6.webp">
                                <source type="image/png" srcset="/img/homepage/portraits/portrait_6.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--spacing-->
<div class="spacer-15"></div>

<div class="portfolio-container">
    <div class="m-0 p-0 ">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro">
                    <div class="title">
                        <div class="sub">
                            Capture
                        </div>
                        <div class="main">
                            Wedding's
                        </div>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding.webp">
                        <source type="image/png" srcset="/img/homepage/weddings/png/wedding.png">
                        <img class="portrait" alt="">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 m-0 p-0">
                <div class="portfolio-intro-content">
                    <div class="row m-0 p-0">
                        <div class="subTitle">
                            <div class="main">
                                It's all about you
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-lg-4 col-md-6 col-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_1.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_1.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_2.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_2.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_3.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_3.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_4.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_4.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_5.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_5.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 m-0 p-0">
                            <picture>
                                <source type="image/webp" srcset="/img/homepage/weddings/webp/wedding_6.webp">
                                <source type="image/png" srcset="/img/homepage/weddings/png/wedding_6.png">
                                <img class="mini-portraits" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--spacing-->
<div class="spacer-15"></div>


<div class="color-yellow">
    <div class="socialContextHolder">
        <div class="wideProjectTitle contextCenter">
            Visual Capture is social
        </div>
        <div class="socialIcons contextCenter">

            <a id="instagram" class="m-3 socialIcon" href="https://www.instagram.com/vincent.maximus/" target="_blank">
                <picture>
                    <source type="image/webp" srcset="img/mediaIcons/webp/instagram.webp">
                    <source type="image/png" srcset="img/mediaIcons/png/instagram.png">
                    <img alt="" width="68">
                </picture>
            </a>

            <a id="linkedin" rel="noopener" class="m-3 socialIcon" href="https://www.linkedin.com/in/vincent-maximus"
               target="_blank">
                <picture>
                    <source type="image/webp" srcset="img/mediaIcons/webp/linkedin.webp">
                    <source type="image/png" srcset="img/mediaIcons/png/linkedin.png">
                    <img alt="" width="65">
                </picture>
            </a>

            <a id="whatsapp" rel="noopener" class="m-3 socialIcon" href="https://wa.me/310631521355?text=Hi%20Vincent"
               target="_blank">
                <picture>
                    <source type="image/webp" srcset="img/mediaIcons/webp/whatsapp.webp">
                    <source type="image/png" srcset="img/mediaIcons/png/whatsapp.png">
                    <img alt="" width="68">
                </picture>
            </a>

            <a id="mail" rel="noopener" class="m-3 socialIcon" href="mailto:info.visualcapture@gmail.com" target="_blank">
                <picture>
                    <source type="image/webp" srcset="img/mediaIcons/webp/mail.webp">
                    <source type="image/png" srcset="img/mediaIcons/png/mail.png">
                    <img alt="" width="80">
                </picture>
            </a>
        </div>
    </div>
</div>


<!--spacing-->
<div class="spacer-5"></div>

<div class="portfolio-container">
    <div class="storyHolder">
        <div class="title">
            Our Story
        </div>

        <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 m-0 p-0">
                <div class="ourStoryText">
                    <div class="coloredTitle">fermentum</div>
                    <div class="title">The Name says it all</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh praesent tristique magna sit amet. Convallis posuere morbi leo urna.</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 m-0 p-0">
                <picture>
                    <source type="image/webp" srcset="img/homepage/intro/ourStory.webp">
                    <source type="image/jpg" srcset="img/homepage/intro/ourStory.png">
                    <img class="OurstoryPicture" alt="intro image">
                </picture>
            </div>
        </div>
    </div>
</div>

<div class="color-white">
    <div class="socialContextHolder">
        <div class="wideProjectTitle contextCenter">
            So, What do you want to do?
        </div>
        <div class="spacer-5"></div>
        <div class="contextCenter">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="optionButton color-blue">
                            <a href="https://vincent-maximus.nl/work" target="_blank" class="noAWhite color-blue"
                               id="viewWork">
                                View work
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="optionButton color-yellow">
                            <a href="#SocialIAm" class="noADark color-yellow"
                               id="followMe">
                                Follow me on social
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="optionButton color-green">
                            <a href="#SocialIAm" class="noAWhite color-green"
                               id="contactMe">
                                Contact me
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>